
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 17% 98%;
    --foreground: 20 10% 10%;
    --card: 0 0% 100%;
    --card-foreground: 20 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 10% 10%;
    --primary: 27 52% 42%;
    --primary-foreground: 60 17% 98%;
    --secondary: 30 10% 90%;
    --secondary-foreground: 27 52% 42%;
    --muted: 30 10% 95%;
    --muted-foreground: 20 10% 45%;
    --accent: 355 77% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 88%;
    --input: 30 10% 88%;
    --ring: 27 52% 42%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
